@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

:root {
    --background-dark: rgb(46, 45, 43);
    --background-mid: rgb(57, 65, 61);
    --background-light: rgb(80, 94, 97);
    --foreground-dark: rgb(122, 122, 122);
    --foreground-light: rgb(226, 203, 177);
    --overlay-dark: rgba(0, 0, 0, 0.25);
    --overlay-mid: rgb(0, 0, 0, 0.1);
    --overlay-light:  rgba(241, 232, 215, 0.11);
    --highlight-blue: rgb(158, 192, 212);
    --highlight-orange: rgb(223, 165, 126);
    --highlight-silver: rgb(183, 203, 206);
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: black;
}

h1, h2, h3, p {
    color: var(--foreground-light);
    font-family: 'Raleway';
}

.borderglow_default {
    box-shadow: 0 0 34px 8px rgb(205, 118, 92);
}

#devbuttons {
    display: flex;
    flex-direction: row;
}

#devbuttons button {
    margin: 0px 5px;
}

/* Game windows and divs */
#gamewindow {
    border: 2px solid var(--foreground-light);
    margin: 1.4rem;
    background-color: var(--background-light);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#dialogue_locationlabel {
    text-align: center;
    margin: 0.6rem 0;
}

#dialogue_textwindow {
    background-color: var(--background-mid);
    border: 1px solid var(--foreground-light);
    display: block;
    width: 98%;
    flex: 6;
    margin: 0 0.5rem;
    overflow-y: scroll;
    padding: 1rem;
}

#game_controlpanel {
    background-color: var(--background-mid);
    display: block;
    width: 100%;
    height: 13em;
    flex: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.controlpanel_item {
    border: 1px solid var(--foreground-light);
    border-radius: 5px;
    background-color: var(--overlay-dark);
}

#controlpanel_choices {
    flex: 4;
    overflow-y: scroll;
}

#controlpanel_party, #controlpanel_enemies {
    flex: 2;
}

#controlpanel_menus {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.menubutton {
    flex: 1;
    border: 2px solid var(--background-mid)
}

/* Dialogue paragraphs and buttons*/
.dialogue_choice_button {
    width: 100%;
    padding: 0.7rem;
    font-size: 18px;
    color: var(--foreground-light);
    background-color: var(--overlay-mid);
    border: 1px solid var(--foreground-light);
    border-radius: 6px;
    text-align: start;
}

.dialogue_choice_button:hover {
    background-color: var(--background-mid);
    border: 1px solid var(--highlight-silver);
}

.dialogue_paragraph_container {
    margin: 0.1rem 0;
    padding: 0.4rem;
    border: 1px solid var(--overlay-mid);
}

.paragraph_narration {
    background-color: var(--overlay-dark);
}

.paragraph_narration p {
    font-style: italic;
}

.paragraph_dialogue, .paragraph_response {
    background-color: var(--overlay-mid);
}

.paragraph_dialogue h3, .paragraph_response h3, .dialogue_paragraph_text {
    font-size: 18px;
}

.paragraph_dialogue h3 {
    color: var(--highlight-orange);
}

.paragraph_response h3 {
    color: var(--highlight-blue);
}