@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

:root {
    --custom-darkgray: rgb(46,45,43);
    --custom-darkbrown: rgb(95,84,69);
    --textbox-dark: rgba(0, 0, 0, 0.25);
    --textbox-light: rgb(0, 0, 0, 0.1);
    --name-blue: rgb(158, 192, 212);
    --name-orange: rgb(223, 165, 126);
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(46, 45, 43);
}

h2 {
    margin: auto;
    margin-top: 1%;
    margin-bottom: 1%;
    text-align: center;
    color: wheat;
    font-family: 'Cinzel';
}

p {
    font-size: 22px;
    margin: 12px;
    color: wheat;
}

p, h3, button {
    font-family: 'Raleway';
}

#game_div {
    width: 1600px;
    height: 900px;
    margin: auto;
    margin-top: 1%;
    display: block;
    border: 2px solid wheat;
    background-color: rgb(95,84,69);
}

#dialogue_window {
    width: 1400px;
    height: 600px;
    border: 2px solid wheat;
    background-color: rgb(66, 60, 51);
    margin: auto;
    overflow-y: scroll;
}

#dialogue_choices {
    margin: auto;
}

.dialogue_choice_button {
    width: 100%;
    margin: 2px 0px;
    padding: 6px;
    font-size: 24px;
    color: wheat;
    background-color: rgb(66, 60, 51);
    border: 1px solid wheat;
    border-radius: 6px;
}

.dialogue_paragraph {
    border: 1px solid rgba(245, 222, 179, 0.11);
}

.paragraph_narration {
    background-color: var(--textbox-dark);
}

.paragraph_narration p {
    font-style: italic;
}

.paragraph_dialogue {
    background-color: var(--textbox-light);
}

.paragraph_dialogue h3 {
    color: var(--name-orange);
}

.paragraph_response h3 {
    color: var(--name-blue);
}